Repository kkowa/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript, jest

prettier:
  name: Format with Prettier
  language: system
  entry: yarn run prettier
  args:
  - --write

eslint:
  name: Lint with ESLint
  language: system
  entry: yarn run eslint
  args:
  - --fix

typescript:
  name: Type check with TypeScript
  language: system
  pass_filenames: false
  entry: yarn run tsc
  args:
  - --noEmit

jest:
  name: Run tests with Jest
  language: system
  pass_filenames: false
  entry: yarn test

fix: Update IDL submodule path
  .gitmodules
Due: none

build: Upgrade Node version and deps
  .node-version
  Dockerfile
  package.json
  yarn.lock
Due: prettier

feat: With Turbo alpha
  package.json
  turbo.json
  yarn.lock
Due: prettier

chore: Update tool configs
  .prettierignore
  tsconfig.json
Due: prettier

chore: Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

chore: Update Makefile
  Makefile
Due: none

refactor: Update Dockerfile
  Dockerfile
Due: none

chore: Update compose configuration
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
  .devcontainer/override.yml
  docker-compose.yml
Due: prettier

chore: Add dependabot.yml
  .github/dependabot.yml
Due: none

ci: Add build-and-push.yml
  .github/workflows/build-and-push.yml
Due: none

docs: Update README.md
  README.md
Due: none

chore: Update VSC settings
  .vscode/settings.json
Due: prettier

chore: Quote possibly empty values in Dockerfile
  Dockerfile
Due: none

ci: Update CI trigger config
  .github/workflows/build-and-push.yml
Due: none

chore: Remove Helm config from VSC settings
  .vscode/settings.json
Due: prettier

chore: Remove unnecessary Makefile targets
  Makefile
Due: none

feat: GraphQL client code generation
  .dockerignore
  .eslintrc.json
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  _generated/graphql/server/fragment-masking.ts
  _generated/graphql/server/gql.ts
  _generated/graphql/server/graphql.ts
  _generated/graphql/server/index.ts
  codegen.ts
  package.json
  yarn.lock
Due: prettier, eslint, typescript, jest

chore: Add VSC GraphQL extension to workspace
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: prettier

feat: Update IDL ref to v0.2.0
  codegen.ts
Due: prettier, eslint, typescript, jest

fix: pre-commit not triggered by submodule changes
  .pre-commit-config.yaml
Due: none

feat: First GraphQL test
  _generated/graphql/server/gql.ts
  _generated/graphql/server/graphql.ts
  jest.config.js
  package.json
  src/pages/_app.tsx
  src/pages/index.tsx
  tests/index.test.tsx
  tests/snapshot.tsx
  tsconfig.json
  yarn.lock
Due: prettier, eslint, typescript, jest

chore: Add .gitattributes file
  .gitattributes
Due: none

build(deps): Update deps
  yarn.lock
Due: none

ci: Enable CI run in current branch
  .github/workflows/build-and-push.yml
Due: none

ci: Rewrite compose based tasks
  .github/workflows/build-and-push.yml
Due: none

ci: Fix build-push-action argument
  .github/workflows/build-and-push.yml
Due: none

test: Update container structure test config
  container-structure-test.yaml
Due: none

build(Docker): include codegen.ts
  .dockerignore
Due: none

revert: "ci: Enable CI run in current branch"
  .github/workflows/build-and-push.yml
Due: none

docs: Add badges
  README.md
Due: none

chore: Delete GitLab VSC extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: prettier

chore: Update dependabot.yml
  .github/dependabot.yml
Due: none

chore: Add LICENSE.md
  LICENSE.md
Due: none

ci: Change workflow name
  .github/workflows/ci.yml
Due: none

docs: Fix README.md CI badge
  README.md
Due: none

build(Docker): Copy script files explicitly
  Dockerfile
  scripts/start.sh
Due: none

chore: Enable init for Docker Compose
  docker-compose.yml
Due: none

test: Fix container structure test
  container-structure-test.yaml
Due: none

test: Fix again container structure test
  container-structure-test.yaml
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, but not: .git|idl|node_modules|coverage
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: .git|idl|node_modules|coverage
  typescript: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: .git|idl|node_modules|coverage
  jest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: .git|idl|node_modules|coverage
